* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
	margin: 20px;
}

.titulo, .subTitulo {
	text-align: center;
	padding: 10px;
}

.mainContainer {
	margin: 20px;
	text-align: center;
}

.form-control {
	width: 50%;
}

.card {
	display: inline-block;
	margin: 10px;
}