* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
	margin: 20px;
}

.titulo, .subTitulo {
	text-align: center;
	padding: 10px;
}

.mainContainer {
	margin: 20px;
	text-align: center;
}

.form-control {
	width: 50%;
}

.card {
	display: inline-block;
	margin: 10px;
}
/*

body {
	background-color: rgb(30, 30, 30, 1.0);
	color: rgb(200, 200, 200, 1.0);
}

.titulo,
.parrafo {
	margin: 30px;
}

input {
	display: block;
}

.btnInicio {
	margin: 20px;
	padding: 10px;
	background-color: rgb(50, 50, 50, 1.0);
	border: 2px solid rgb(200, 20, 20, 1.0);
}
.btnInicio:hover {
	background-color: rgb(50, 50, 50, 0.5);
	border: 2px solid rgb(200, 20, 20, 0.5);
}

.formulario {
	border: 2px solid rgb(200, 20, 20, 1.0);
	padding: 10px;
	margin: 10px;
	width: fit-content;
}
.formulario label input, 
.formulario label select, 
.formulario input {
	padding: 5px;
	margin: 10px;
}

.btnForm {
	margin: 20px;
	padding: 10px;
	background-color: rgb(50, 50, 50, 1.0);
	border: 2px solid rgb(200, 20, 20, 1.0);
}
.btnForm:hover {
	background-color: rgb(50, 50, 50, 0.5);
	border: 2px solid rgb(200, 20, 20, 0.5);
}

*/